body{
    background:url(/img/login-background1.jpg) repeat;
    width: 100%;
    background-size: auto 100%;
    animation:displace 35s linear infinite;
    } 
   @keyframes displace{
    from { background-position: center 0px;
    } to { background-position-x: center 900px}
    }

 #wrap {
    width: 100%;    
}
.main{
    margin-top: 250px;
    font-size: 50px;
    text-align: center;
    background-repeat: no-repeat;
}
.title img{
    width: 195px;
    height: 65px;
}

.word p{
    margin: 8px 0px 24px;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.email-b{
    height: 48px    ;
}
.email-login-button img{
    padding-left: 15px;
    float: left;
}
.email-login-button{    
    margin: 0px auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;   
    border-radius: 5px;
    width: 500px;
    height: 48px;
    background: #816BFF;
    background-repeat: no-repeat;
    background-position: 50%;       
}

.email-login-button a{
    padding-left: 160px;
    float: left;
    color: white;
}

.main_b{
    margin: 24px 0px 0px;
}
.b1{
    padding-left: 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: white;
    background: none;
    text-align: inherit;
}
.b2{
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin: 0px 0px 0px 40px;
    color: white;
    background: none;
    text-align: inherit;
}

.b1 a{
    color: white;
}
.b2 a{
    color: white;
}
